#bbs-wrapper {
    margin: 40px auto;
    width: 940px;
    text-align: center;
}

#bbs-wrapper a {
    text-decoration: none;
}

#bbs-title {
    margin: 0 auto;
}

.bbs-menu {
    width: 100%;
    height: 60px;
}

.bbs-btn {
    float: right;
    width: 80px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px 0px;
}

.bbs-btn.left {
    float: left;
}

.bbs-btn:hover {
    cursor: pointer;
}

.bbs-btn a {
    display: block;
    height: 100%;
    line-height: 38px;
    font-weight: bold;
}

.bbs-btn:not(.last) {
    margin-right: 10px;
}

.bbs-write,
.bbs-confirm,
.bbs-edit,
.bbs-delete,
.bbs-list {
    background-color: gray;
}

.bbs-write a,
.bbs-confirm a,
.bbs-edit a,
.bbs-delete a,
.bbs-list a {
    color: white;
}

.bbs-cancel,
.bbs-list {
    background-color: white;
}

.bbs-cancel a,
.bbs-list a {
    color: black;
}