<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TEST</title>
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/bbs/bbs-common.css" rel="stylesheet">
    <link href="/static/css/bbs/bbs-write.css" rel="stylesheet">
</head>

<body>
    <div th:replace="frag :: header"></div>

    <div id="bbs-wrapper">
        <h1 id="bbs-title">글 수정</h1>
        <div class="bbs-menu">
            <button class="bbs-btn last bbs-confirm"><a>등록</a></button><button
                class="bbs-btn bbs-cancel"><a onclick="history.back()">취소</a></button>
        </div>
        <div id="bbs-main">
            <form id="bbs-write-form" action="/bbs/write" method="POST">
                <input id="article-id" type="hidden" name="articleId" th:value="${param.articleId}">
                <input id="article-title" type="text" name="title" placeholder="제목을 입력하세요." th:value="${article.title}">
                <textarea id="article-content" name="content" placeholder="내용을 입력하세요."
                    th:text="${article.content}"></textarea>
            </form>
        </div>
        <div class="bbs-menu">
            <button class="bbs-btn last bbs-confirm"><a>등록</a></button><button
                class="bbs-btn bbs-cancel"><a onclick="history.back()">취소</a></button>
        </div>
    </div>

    <script src="/static/js/bbs/bbs-edit.js"></script>
</body>

</html>