<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="header-wrapper" th:fragment="header">
    <input id="header-loginbtn" th:if="${session?.auth eq null}" class="header-btn header-login" type="button" onclick="location.href='/login'" value="로그인">
    <input id="header-logoutbtn" th:if="${session?.auth ne null}" class="header-btn header-logout" type="button" onclick="location.href='/logout'" value="로그아웃">
    <div id="header-welcome" th:if="${session?.auth ne null}">[[${session?.auth}]]님 환영합니다.</div>
</div>

</html>